.row {
  gap: 10%;
  .center-col {
    flex: 0;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: white;
  border-radius: 20px;
  height: calc(100vh - 168px);

  .settings {
    overflow: auto;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      .cover {
        position: relative;
        .action {
          top: 10px;
          right: 10px;
        }
      }
      .profile {
        position: relative;
        margin-top: -10%;
        .action {
          bottom: 10px;
          left: 16px;
        }
      }
      .action {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        position: absolute;
        border-radius: 50%;
        background: #0780ef;
      }
    }

    .details {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;

      %field {
        font-size: 1.1em;
        padding: 1em 1em;
        width: 100%;
        border: none;
        background: #f3f5f7;
        border-radius: 8px;
        &:focus {
          outline: none;
          border: none;
        }
      }

      .field {
        width: 100%;
        position: relative;
        input {
          @extend %field;
        }
        .action {
          position: absolute;
          right: 10px;
          top: 25%;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #0681f1;
          border-radius: 50%;
        }
      }
    }
  }
  .about {
    textarea {
      @extend %field;
      height: 100px;
      resize: none;
    }
  }
  .btn {
    padding: 0.5em 0;
    margin-top: 0.3em;
    color: white;
    font-size: 1.2em;
    width: 100%;
    background: linear-gradient(90deg, #0666cd 0%, #0681f1 100%);
    border-radius: 8px;
  }
}
